@model Tuple<List<dynamic>, List<dynamic>>

<header class="top-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navbar">
    <div class="container p-0">
      <div class="logo-container px-2">
        <a class="navbar-brand" asp-page="/Index">
          <img class="logo-img" src="/images/logo-k.svg" alt="Logo">
        </a>
      </div>

      <div class="order-0 order-lg-3 d-flex gap-2 align-items-center px-2">
        <a asp-page="/Cart">
          <button type="button" class="btn btn-link">
            <i class="bi bi-cart" style="font-size: 2rem; color: white;"></i>
          </button>
        </a>


        @if (User.Identity.IsAuthenticated)
        {
          <form method="post" asp-page="/Auth/Logout">
            <button type="submit" class="btn btn-link">
              <i class="bi-box-arrow-right" style="font-size: 2rem; color: white;"></i>
            </button>
          </form>
        }

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="navbar-collapse d-lg-flex collapse" id="navbars">

        <ul class="navbar-nav bg-dark fs-6 fw-bold justify-content-lg-center flex-grow-1 px-2">
          @foreach (var item in Model.Item1)
          {
            <li class="nav-item">
              <a class="nav-link @(ViewContext.RouteData.Values[" page"]?.ToString()==item.Page ? "active" : "" )" asp-page="@item.Page">
                @item.Text
              </a>
            </li>
          }

          <hr class="text-white">
          <!-- Admin dropdown for logged-in users with Admin role (only visible on larger screens) -->
          @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
          {
            @foreach (var item in Model.Item2)
            {
              <li class="nav-item d-lg-none">
                <a class="nav-link text-success" asp-page="@item.Page">@item.Text</a>
              </li>
            }
          }
        </ul>

        <div class="d-none d-lg-flex flex-stretch-1 justify-content-lg-end bg-dark">
          @if (User.Identity.IsAuthenticated)
          {
            <a asp-page="/Orders">
              <button class="btn btn-success fs-6 fw-bold me-2" type="button">
                Orders
              </button>
            </a>
          }

          @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
          {
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle fs-6 fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </button>
              <ul class="dropdown-menu">
                @foreach (var item in Model.Item2)
                {
                  <li>
                    <a class="dropdown-item fs-6 fw-bold" asp-page="@item.Page">
                      @item.Text
                    </a>
                  </li>
                }
              </ul>
            </div>
          }

          @if (!User.Identity.IsAuthenticated)
          {
            <div class="d-grid d-lg-flex gap-2 align-items-center me-lg-2 p-2">
              <a asp-page="/Auth/Login">
                <button class="btn btn-primary fw-bold">Sign in</button>
              </a>

              <a asp-page="/Auth/Register">
                <button class="btn btn-secondary fw-bold">Sign up</button>
              </a>
            </div>
          }
        </div>
      </div>
    </div>
  </nav>
</header>